* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Barlow Semi Condensed', sans-serif;
    background: #ecf2f8;
    display: flex;
}

.main {
    width: 63%;
    max-height: 700px;
    margin: 100px auto;
    display: flex;
    border-radius: 10px;
/*     border: 1px solid #000;
 */}
.main .comentarios {
    width: 85%;
    border-radius: 10px;
}       
.main .coment1 {
    display: flex;
    margin-bottom: 20px;
}

.main .coment1 .div1.uno {
    width: 65%;
    color: #fff;
    padding: 25px 44px;
    background: #7541c8;
    border-radius: 10px;
    box-shadow: 2px 5px 50px rgba(0, 0, 0, .2);    

}

.main .coment1 .div1 .user,
.main aside .div1.aside .user {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.main .coment1 .div1 .user img,
.main aside .div1.aside .user img{
    border-radius: 100%;
}
.main .coment1 .div1 .user .name,
.main aside .div1.aside .user .name {
    margin-left: 10px;
}
.main .coment1 .div1 .user .name h2,
.main aside .div1.aside .user .name h2 {
    font-size: 16px;
    font-weight: 700;
}

.main .coment1 .div1 .user .name p,
.main aside .div1.aside .user .name p{
    font-size: 13px;
    opacity: .5;
}
.main .coment1 .div1 h3, 
.main aside .div1.aside h3 {
    font-size: 20px;
    margin-bottom: 20px;
    line-height: 29px;
}

.main .coment1 .div1 p,
.main aside .div1.aside p {
    font-size: 13px;
    opacity: .5;
    font-weight: 600;
    line-height: 20px;
}
.main .coment1 .div1.dos {
    width: 35%;
    margin-left: 20px;
    color: #fff;
    background: #48556a;
    padding: 25px 44px;
    border-radius: 10px;
    box-shadow: 2px 5px 50px rgba(0, 0, 0, .2);
}

.main .coment1 .div1.tres {
    width: 35%;
    margin-right: 20px;
    color: #48556a;
    background: #fff;
    padding: 25px 44px;
    border-radius: 10px;
    box-shadow: 2px 5px 50px rgba(0, 0, 0, .2);    
}

.main .coment1 .div1.cuatro {
    width: 65%;
    color: #fff;
    padding: 25px 44px;
    background: #19212e;
    border-radius: 10px;
    box-shadow: 2px 5px 50px rgba(0, 0, 0, .2);    

}

.main aside {
    width: 25%;
    padding: 25px 44px;
    border-radius: 10px;
    box-shadow: 2px 5px 50px rgba(0, 0, 0, .2);
    margin-left: 20px;
    margin-bottom: 20px;
    background: #fff;
    color: #48556a;
}